.filters {
  display: flex;
  border-radius: 12px;
  padding: 15px 30px;
  width: 730px;
  height: 105px;
  background: #24343d;
  gap: 38px;
}
.filters-name {
  font-weight: 500;
  font-size: 27px;
  padding: 5px 0px 0px 0px;
  line-height: 241%;
  text-align: center;
  color: #fff;
}
